body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

:root{
    --color-white: #fff;
    --color-black: #000;
    --color-bgFeature: #cdcdcd;
}

a{
    text-decoration: none;
    color: var(--color-black);
}

h1{
    margin: 0;
}

#cabecalho{
 display: flex;
 align-items: center;
 justify-content:space-between;  
 border-bottom: var(--color-black) 1px solid; 
 height: 100px;
 margin-bottom: 10px;
}

.logo{
    width: 200px;
    min-width:180px ;
}

.menu{
    display: flex;
    list-style: none;
    gap: 15px;  
    margin-right: 20px;  
}

.principal{
    display: flex;
    flex-direction: column;
}

#produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.img-produto{
    min-width: 300px;
    max-width: 750px;
}

.botao-comprar{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: rgb(14, 148, 244);
    color: var(--color-white);
}

.feature{
    margin: 20px 0 20px 0;
    display: flex;
    gap:20px;
    justify-content: space-around;
}

.gelada24h, .conex-app, .termometro{
  min-width: 260px;
  max-width: 400px;  
  display: flex;
  flex-direction: column;
  align-items: center;  
  background: var(--color-bgFeature);
  padding: 15px;
  border-radius: 10px;
}
.feature img{
    width: 100%;
    object-fit: cover;
}

#rodape{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#rodape li{
    padding: 5px;
}

.rodape-links{
    list-style: none;
}

.redes-sociais{
    list-style: none;
    margin-right: 20px;
}